* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 420px;
    height: 520px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

#display {
    width: 400px;
    height: 100px;
    background-color: #15f488;
    border-radius: 5px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    color: darkgreen;
    font-size: 80px;
    text-align: end;
    padding-right: 10px;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    height: 400px;
}

button {
    width: 100px;
    height: 80px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    font-weight: 700;
    font-size: 32px;
}

.number {
    background-color: rgba(43, 181, 235, 0.76);
}

.operator {
    background-color: rgba(233, 142, 37, 0.815);
}

.applicator {
    background-color: rgb(66, 255, 97);
}

.fraction {
    background-color: rgba(10, 236, 225, 0.849);
}

.revert {
    background-color: rgb(233, 68, 68);
}

#clear {
    width: 200px;
}